NEXT_PUBLIC_JWT_EXPIRATION= 
NEXT_PUBLIC_JWT_SECRET=
NEXT_PUBLIC_JWT_REFRESH_TOKEN_SECRET= 

NEXT_PUBLIC_BASE_URL=

NEXT_PUBLIC_DEVELOPMENT_MODE=

NEXT_PUBLIC_SECRET_KEY=

NEXT_PUBLIC_DEVELOPMENT_MODE=
NEXT_PUBLIC_ENABLE_PWA=
