html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.my-swal-container {
  z-index: 99999;
}

.low-quantity {
  background-color: #fffad5; /* Light red background for low quantity */
}

.zero-quantity {
  background-color: #f4cccc;
}

.stock-opname-quantity {
  background-color: #ddffdb;
}

/* printStyles.css */

/* Ensure page breaks after certain sections */
@media print {
  .page {
    margin: auto;
    box-shadow: none;
    page-break-after: always;
  }

  /* Add page break after elements with this class */
  .page-break {
    page-break-after: always !important;
  }

  /* Avoid breaking tables within a page */
  .no-page-break {
    page-break-inside: avoid !important;
  }

  .page-break-before {
    page-break-before: always !important;
  }

  /* Remove unnecessary borders or shadows for print */
  .MuiCard-root {
    box-shadow: none !important;
  }

  /* Adjust padding for better fit on printed pages */
  .print-padding {
    padding: 16px !important;
  }

  /* Hide unnecessary interactive elements in print */
  .no-print {
    display: none !important;
  }

  /* Ensure text visibility */
  .text-secondary {
    color: black !important;
  }
}
